<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Xapi Project Docs{% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{site.baseurl}}/assets/css/bootstrap.css" rel="stylesheet">
 <!--   <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
       to the bottom of the topbar */ }
    </style-->
    <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/docs.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/pygments-github.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
          <a href="{{site.baseurl}}/">
            <img alt="Xapi Project"
              src="{{site.baseurl}}/assets/img/xapi-project.png">
          </a>
        </div>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.baseurl}}/xen-api">XenAPI</a></li>
            <li><a href="{{site.baseurl}}/getting-started/architecture.html">Architecture</a></li>
            <li><a href="{{site.baseurl}}/design-docs">Designs</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        <nav>
          <ul id="menu" class="nav" data-spy="scroll">
          {% for chapter in site.data.navbar %}
            {% for section in chapter %}
              {% for d in section.docs %}
                {% if page.path == d %}
                  {% for section in chapter %}
                  <li>
                    <div class="menu-header">{{section.title}}</div>
                    <ul class="nav">
                    {% for d in section.docs %}
                      {% for p in site.pages %}
                        {% if p.path == d %}
                          <li data-section="{{p.path}}">
                            <a href="{{site.baseurl}}{{p.url}}">{{p.title}}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          </ul>
      </nav>
        </div>
        <div class="col-md-9">
          <h1>{{page.title}}</h1>

          {% if page.design_doc %}
          <table class="table table-bordered table-condensed small" style="width: 50%">
            <tr>
              <th colspan="2">Design document</th>
            </tr>
            <tr style="background-color: white">
              <td>Revision</td>
              <td><span class="label label-default">v{{page.revision}}</span></td>
            </tr>
            <tr style="background-color: white">
              <td>Status</td>
              <td>
                <span class="label
                    {% assign status = p.status | downcase %}
                    {% case status %}
                    {% when "proposed" or "submitted" %}
                      label-danger
                    {% when "confirmed" or "accepted" %}
                      label-warning
                    {% else %}
                      {% if status contains "released" %}
                        label-success
                      {% else %}
                        label-info
                      {% endif %}
                    {% endcase %}
                    ">
                  {{page.status}}
                  </span>
              </td>
            </tr>
            <tr style="background-color: white">
              <td>Review</td>
              <td>
                {% if page.design_review %}
                <a href="http://github.com/xapi-project/xapi-project.github.io/issues/{{page.design_review}}">#{{page.design_review}}</a>
                {% else %}
                <a href="https://github.com/xapi-project/xapi-project.github.io/issues/new">create new issue</a>
                {% endif %}
              </td>
            </tr>
            {% if page.revision_history %}
            <tr>
              <th colspan="2">Revision history</th>
            </tr>
            {% for revision in page.revision_history %}
            <tr>
                <td>{{revision.revision_number}}</td>
                <td>{{revision.description}}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </table>
          {% endif %}

          {{content}}
        </div>
      </div>
    </div>

    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js">
    </script>

    <script>
        $('#menu [data-section="{{page.path}}"]').addClass('active');
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33987438-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>

