---
layout: default
---
{{ content }}

<div class="alert">
<button type="btn" class="close" data-dismiss="alert">&times;</button>
<strong>Key: </strong>
<span class="label">Revision</span>
<span class="label label-important">Proposed</span>
<span class="label label-warning">Confirmed</span>
<span class="label label-success">Released (vA.B)</span>
<span class="label label-inverse">Unrecognised status</span>
</div>

<div class="input-group"><span class="input-group-addon">Filter</span>
  <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div>

<table class="table tabl-striped table-condensed">
<tbody class="searchable">
{% assign ps = site.pages | sort: "status" %}
{% for p in ps %}{% if p.design_doc %}
  <tr><td>
    <a href={{site.baseurl}}{{p.url}} class="btn btn-link">{{p.title}}</a>
    <span class="label">v{{p.revision}}</span>
    <span class="label
        {% assign status = p.status | downcase %}
        {% case status %}
        {% when "proposed" or "submitted" %}
          label-important
        {% when "confirmed" or "accepted" %}
          label-warning
        {% else %}
          {% if status contains "released" %}
            label-success
          {% else %}
            label-inverse
          {% endif %}
        {% endcase %}
        ">
      {{p.status}}
    </span>
  </td></tr>
{% endif %}{% endfor %}
</tbody>
</table>

