---
layout: default
---

{% assign class-pages = site.pages | where:"class_index",true %}

{{ content }}

<h2>XenAPI Fields and Messages</h2>

<h3>Fields</h3>

<table>
  <tr><th>Field name</th><th>Type</th><th>Description</th></tr>
  {% for c in site.data.xenapi %}
    {% assign class = c.name %}
    {% assign url = class-pages | where:"class",class | first | map: "url" %}
    {% assign fields = c.fields | where:"tag",page.xenapi_tag | sort: "name" %}
    {% for f in fields %}
      <tr>
        <td><a href="{{site.baseurl}}{{url}}">{{class}}.{{f.name}}</a></td>
        <td>{{f.type}}</td>
        <td>{{f.description | escape}}</td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>

<h3>Messages</h3>

<table>
  <tr><th>Message name</th><th>Description</th></tr>
  {% for c in site.data.xenapi %}
    {% assign class = c.name %}
    {% assign url = class-pages | where:"class",class | first | map: "url" %}
    {% assign messages = c.messages | where:"tag",page.xenapi_tag | sort: "name" %}
    {% for m in messages %}
      <tr><td><a href="{{site.baseurl}}{{url}}">{{class}}.{{m.name}}</a></td><td>{{m.description | escape}}</td></tr>
    {% endfor %}
  {% endfor %}
</table>

